{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ title }}</h1>
    <div class="alert" role="alert"></div>
    <h4 class="pollingPlaceDetails" hidden >Polling Place:</h4>
    <div class=".col-md-6 pollingPlaceDetails" hidden >Please note: this is an estimation based data from the Voting Information Project, and not guaranteed to be accurate</div>
    <div class=".col-md-6pollingPlaceDetails" hidden ><a href="https://votinginfoproject.org/">Voting Informatin Project</a></div>
    <div class="pollingPlaceDetails alert alert-info" id="pollingPlaces" hidden></div>
    <div class="row">
        <div class="col-md-4">
            <div>
                <input id="clickMe" type="button" value="Use address below to look up polling place" onclick="getPolls();" />
            </div>
                <!-- <a href="javascript:getPolls(
                    
                    '#optPersonStreet',
                    '#optPersonCity',
                    '#optPersonState',
                    '#optPersonZip',
                    '#electionId');">Look up polling place based on personal address</a> -->
                    <div id="statusIcon" ></div>
            {{ wtf.quick_form(form2) }}
            {{ wtf.quick_form(form) }}
        </div>
    </div>


    <h2>Denials Logged:</h2>
    {% for denial in denials %}
    <div class="row">{{ denial }} </div>
    {% endfor %}
    {% include '_paginate_denials.html' %}

    <script>
        function fillPollForm(name, street, city, state, zip){
            $('#pollName').val(name);
            $('#pollStreet').val(street);
            $('#pollCity').val(city);
            $('#pollState').val(state);
            $('#pollZip').val(zip);
        }
        function getPolls() {
            var destElem = $('#pollingPlaces');
            $('.pollingPlaceDetails').removeAttr('hidden');
            $(destElem).html('<img style="width:50px;height:60px;" src="{{ url_for('static', filename='loading.gif') }}">');
            $.post('/polling_place', {
                street: $('#optPersonStreet').val(),
                city: $('#optPersonCity').val(),
                state: $('#optPersonState').val(),
                zip: $('#optPersonZip').val(),
                electionId: $('#electionId').val(),
                post_state: '{{ POST_STATE }}' 
            }).done(function(response_from_polling){
                console.log("DEBUG: Done - " + response_from_polling);
                console.log("DEBUG: Error ");
                console.log(response_from_polling.error);
                console.log("DEBUG: full");
                console.log(response_from_polling);
                if ( response_from_polling == undefined){ console.log("No response from /polling_place");}
                else if (response_from_polling.error == undefined && response_from_polling.pollingLocations != undefined ){
                    var name = response_from_polling.pollingLocations[0].address.locationName;
                    var street = response_from_polling.pollingLocations[0].address.line1;
                    var city = response_from_polling.pollingLocations[0].address.city;
                    var state = response_from_polling.pollingLocations[0].address.state;
                    var zip = response_from_polling.pollingLocations[0].address.zip;
                    var params = [name,street,city,state,zip];
                    param_string = params.map( param => `'${param}'`).join(',');
                    $(destElem).html(name +"<br>" + street  +"<br>" + zip);
                    $(destElem).append('<br><input id="clickMe" type="button" value="Click here to fill using found polling place info" onclick="fillPollForm('+param_string+');" />')
                    $('#statusIcon').html("");
                    $('.pollingPlaceDetails').removeAttr('hidden');
                }
                else {
                    $(destElem).html(
                        "***That address isn't available in the public records**** <br>"
                        + "Please manually enter the polling location info as bast as you can.<br>"
                    );
                }
            }).fail(function() {
                console.log("Failed to call out to Google Civic")
                $(destElem).text("Server error... Please manually look up polling place details")
            });
        }
    </script>
{% endblock %}