{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <div>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.post_body.label }}<br>
                {{ form.post_body(cols=32, rows=4 )}}<br>
                {% for error in form.post_body.errors %}
                <span style="color: red;">[{{ error }} </span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
    {% for post in posts %}
    <div><p><span><img src="{{ post.author.avatar(128) }}"></span>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
{% endblock %}